body {
	font-family: "Lato", sans-serif;
	color: #2d3c49;
	font-weight: 300;
}

@media (min-width: 1200px) {
	.container {
		width:970px;
	}
}

hr {
    border: 2px solid #bdbdbd;
}

img {
	margin: 0 auto;
}

.text-muted {
	color: #CB6047;
}

.text-thin {
	font-weight: 100;
}

.title-logo {
	margin-top: 30px;
	height: 100px;
	width: 100px;
}

.title-role {
	color: #616161;
}

.title-super {
	font-size: 60px;
	color: #CB6047;
}

