body {
	font-family: "Lato", sans-serif;
	color: #2d3c49;
	font-weight: 300;
}

@media (min-width: 1200px) {
	.container {
		width:1160px;
	}
	.row {
		margin-left: 25px;
		margin-right: 25px;
	}
	hr {
		margin-left: 40px;
		margin-right: 40px;
	}
	.static {
		display: none;
	}
}

hr {
/*    border: 2px solid #bdbdbd;*/
    border-top: 0px;
	border-bottom: 1px solid #bdbdbd;
}

img {
	margin: 0 auto;
}

.text-muted {
	color: #CB6047;
	margin: 20px 0;
}

.text-thin {
	font-weight: 100;
}

.text-bold {
	font-weight: 300;
}

.title-logo {
	margin-top: 30px;
	height: 100px;
	width: 100px;
}

.title-role {
	color: #616161;
}

.title-super {
	font-size: 60px;
	color: #CB6047;
}

.cap {
	padding-bottom: 40px;
}

.cap-title {
	margin-bottom: 0;
	font-size: 22px;
	line-height: 30px;
	padding-bottom: 15px;
}

.cap-list {
	padding-left: 30px;
	padding-top: 20px;
}

.cap-list ul {
	font-size: 16px;
	margin-bottom: 25px;
	list-style: none;
	padding-left: 22px;
}

.cap-list ul li:before {
    position: absolute;
    left: 27px;
    content: "•";
    font-size: 25px;
    color: #D8D8D8;
    margin-top: -7px;
}

/* Slide Show*/

.slide-style {
	padding-bottom: 40px;
	padding-top: 20px;
}

.sliderWrapper
{
/*  box-shadow: 0 0 40px 10px #000;*/
  height: 470px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 1050px;
}

@media (max-width: 1200px) {
	.sliderWrapper {
		width:940px;
		height: 421px;
	}
}
@media (max-width: 990px) {
	.sliderWrapper {
		width:720px;
		height: 322px;
	}
}
@media (max-width: 749px) {
	.sliderWrapper {
		width: 620px;
		height:278px;
	}
}

@media (max-width: 660px) {
	.sliderWrapper {
		width: 540px;
		height:242px;
	}
}

@media (max-width: 560px) {
	.sliderWrapper {
		width: 402px;
		height: 180px;
	}
}

@media (max-width: 414px) {
	.sliderWrapper {
		width: 372px;
		height: 167px;
	}
}

@media (max-width: 375px) {
	.sliderWrapper {
		width: 313px;
		height: 140px;
	}
}

@media (max-width: 320px) {
	.sliderWrapper {
		width: 280px;
		height: 125px;
	}
}


.sliderWrapper .slider
{
  background: #aaa;
  overflow: hidden;
  height: 100%;
  position: relative;
  width: 100%;
}

.sliderWrapper .slider .slide
{
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.sliderWrapper .slider .slide img { width: 100%; height: 100%; }

.sliderWrapper .slider-directions .slider-directions-prev,
.sliderWrapper .slider-directions .slider-directions-next
{
  cursor: pointer;
  background: #eee;
  color: #333;
  height: 48px;
  position: absolute;
  top: 45%;
  width: 34px;
  z-index: 10;
  box-shadow: 0;
  text-align: center;
  font-size: 26px;

  transition-property: left,right,box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.sliderWrapper .slider-directions .slider-directions-prev:after,
.sliderWrapper .slider-directions .slider-directions-next:after
{
  content: 'O';
  display: block;
  line-height: 48px;
}

.sliderWrapper .slider-directions .slider-directions-prev { left: -34px; }
.sliderWrapper:hover .slider-directions .slider-directions-prev { left: 0; box-shadow: 0 0 8px 0 rgba(0,0,0,0.8); }
.sliderWrapper .slider-directions .slider-directions-prev:after { content: '«'; }

.sliderWrapper .slider-directions .slider-directions-next { right: -34px; }
.sliderWrapper:hover .slider-directions .slider-directions-next { right: 0; box-shadow: 0 0 8px 0 rgba(0,0,0,0.8); }
.sliderWrapper .slider-directions .slider-directions-next:after { content: '»'; }

.sliderWrapper .slider-navigation
{
  bottom: -24px;
  color: #333;
  left: 2px;
  position: absolute;
  z-index: 10;

  transition-property: bottom;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.sliderWrapper:hover .slider-navigation { bottom: 2px; }

.sliderWrapper .slider-navigation .slider-navigation-item
{
  cursor: pointer;
  background: #eee;
  border-radius: 100%;
  box-shadow: 0;
  display: inline-block;
  float: left;
  height: 12px;
  margin-left: 2px;
  margin-right: 2px;
  text-indent: -9999px;
  width: 12px;

  transition-property: box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.sliderWrapper:hover .slider-navigation .slider-navigation-item {
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.8);
}

.sliderWrapper .slider-navigation .slider-navigation-item.active {
  background: #333;
  color: #eee;
}

/* Project List and Hover effect*/

.grid {
	padding: 20px 0px 20px 0px;
	max-width: 1160px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 360px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #2c3f52;
	color: #ed4e6e;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid figcaption span:before {
	content: 'by ';
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}

/* Project Hover Effect */

.cs-style figure {
	overflow: hidden;
}

.cs-style figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style figure:hover img,
.cs-style figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.cs-style figcaption {
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style figure:hover figcaption,
.cs-style figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}



/* Media query for smaller screen */

@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}

/* Footer */


footer {
	background: #243c4f;
	padding: 20px 0; 
}

footer p {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.6); 
}

footer a {
	color: #3ac341;
}

footer a:hover { 
	color: #3ac341;
}

footer .footer-title {
	position: relative;
	font-size: 18px;
	text-transform: uppercase;
	color: white; 
}

footer .footer-title:after {
	content: '';
	display: block;
	width: 60px;
	height: 1px;
	background: #3ac341;
	margin-top: 8px; 
}

footer .footer-about {
		padding-left: 0px;
		padding-right: 0px; 
}

footer .right-border {
	border-right: 1px solid rgba(255, 255, 255, 0.1); 
}

footer .left-border {
	border-left: 1px solid rgba(255, 255, 255, 0.1); 
}

@media (max-width: 991px) {
	footer .copyright {
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		margin-top: 20px;
		text-align: center; 
	}
	footer .right-border {
		border-right: none; 
	} 
	footer .footer-about {
		padding-left: 15px;
		padding-right: 15px; 
	}
}

@media (max-width: 767px) {
	footer .right-border {
		border-right: none; 
	}
	footer .left-border {
		border-left: none; 
	}
	footer .navigation {
		margin-top: 40px;
		border-top: 1px solid rgba(255, 255, 255, 0.1); 
	} 
}

footer .footer-about {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	padding-bottom: 20px;
}
footer.footer-about{
	padding-left: 15px;
	padding-right: 15px; 
}
footer .contact-info .single {
	margin: 15px 0; 
}
footer .contact-info .single i {
	display: block;
	float: left;
	color: #3ac341;
	margin-right: 10px;
	line-height: 22px; 
}
footer .contact-info .single p {
	margin: 0;
	padding: 0;
	display: block;
	overflow: hidden; 
}
footer .social-icon {
margin-top: 40px; 
}
footer .social-icon li a {
	display: block;
	width: 32px;
	height: 32px;
	margin-right: 5px;
	text-align: center;
	border: 1px solid rgba(255, 255, 255, 0.1);
	/*-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg); */
	border-radius: 30%;
}
footer .social-icon li a:hover {
	border-color: #3ac341;
	color: #3ac341; 
}
footer .social-icon li a i {
line-height: 32px;
	/*-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg); */
}

footer .navigation li a {
	color: rgba(255, 255, 255, 0.6);
	text-transform: uppercase;
	line-height: 30px;
	text-decoration: none; 
}
footer .navigation li a:hover {
	color: #3ac341; 
}
footer .copyright {
	padding-top: 20px; 
}

/* Return to the top button*/

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    z-index: 999;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


